@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Protest Revolution', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.texto{
    font-size: 135px;
    text-transform: uppercase;

    background: linear-gradient(45deg, #ff00dd, #d501ff, #3700ff,#c40093);
    background-size: 400% 100%;
    animation: anime-aqui 10s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes anime-aqui {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

